<div class="appContainer">
    <h1 class="title">TASKS</h1>
    <div *ngIf="tasks" class="container">
        <div class="flex">
            <button class="mid" (click)="newTask()">new task</button>
            <button class="mid" (click)="deleteAll()">delete all</button>
        </div>
        <div (click)="openModal(task)" class="card" *ngFor="let task of tasks">
            <div >
                <div class="titleCard">
                    > {{task.title}}
                </div>
                <p class="subtitle">
                    {{task.description}} </p>
            </div>
            <p (click)="deleteTask(task)" class="delete">X</p>
        </div>
    </div>

    <div *ngIf="!tasks">
        nada de novo aqui!
    </div>

</div>

<div *ngIf="isModalOn" class="backdrop">
    <div class="modal">
        <div class="top">
            <p (click)="clonseModal()">X</p>
        </div>
        <label class="label" for="">Titulo</label>
        <input placeholder="Titulo" [(ngModel)]="focus.title" type="text">
        <label class="label" for="">descrição</label>
        <input placeholder="Descrição" [(ngModel)]="focus.description" type="text">
        <button (click)="save(focus)">Save</button>
    </div>

</div>