.mobile-only {
    display: contents;
  }
  .container {
    display: none;
  }
  
  .picture {
    position: absolute;
    bottom: 0px;
    max-width: 19rem;
  }
  
  .flip {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  
  .sub {
    font-size: 1.3rem;
    color: white;
  }
  
  .clean-text {
    font-size: 1rem;
    color: white;
    opacity: 0.4;
  }
  
  .input {
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
  }
  
  .relative {
    position: relative;
  }
  
  .send {
    position: absolute;
    right: 50%;
    bottom: -20px;
    transform: translateX(50%);
    z-index: 99999999999999;
  }
  
  /* CSS */
  .send {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .send:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .textarea {
    padding: 20px 10px;
  }
  
  @media (max-width: 1000px) {
    .mobile-only {
      display: none;
    }
  
    .container {
      display: contents;
    }
  }
  