:root{
  --black: #1e1e1e;
  --font-black: #171717;
  --grey: #717171;

}


body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, black 0%, var(--black) 27%);
  font-family: "M PLUS Code Latin", monospace;
  font-weight: 200;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

span {
  color: white;
  font-weight: 400;
}

.title {
  padding-top: 80px;
}

h1 {
  color: white;
  font-size: 52px;
  margin: 0px 0px 10px 0px;
  filter: drop-shadow(17px 10px 4px black);
}

.center {
  text-align: center;
}

.form {
  margin-top: 70px;
}

.input {
  width: 60%;
  height: 40px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--grey);
  margin-top: 30px;
}

.textarea {
  height: 140px;
  border-radius: 2px;
}

.bottomPhotos {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.picture {
  width: 50%;
}

.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}